<ul> <p class="rightpane_subheading"><strong>Room Management</strong></p>
  <li><a [routerLink] = "['rooms-detail']" routerLinkActive="active">Rooms</a></li>
  <li><a [routerLink] = "['room-lists']" routerLinkActive="active">Room Lists</a></li>
  <li><a [routerLink] = "['room-protocols']" routerLinkActive="active">Room Protocols</a></li>
  <li><a [routerLink] = "['room-states']" routerLinkActive="active">Room States </a></li>
  <li><a [routerLink] = "['room-units']" routerLinkActive="active">Room Units </a></li>
  <li><a [routerLink] = "['rooms-bulk-upload']" routerLinkActive="active">Room Bulk Upload </a></li>
</ul>
