<div class="table-responsive">

  <!--<nv-editable-table [tableHeaders]="roomHeaders" [tableRows]="rooms"></nv-editable-table>-->
  <form #roomsData="ngForm" (ngSubmit)="addRoom(roomsData)">

    <table class="table table-sm table-bordered table-hover" data-page-length='10' appSortedTable
           (sorted)="onSorted($event)" id="roomsTable">

      <thead>
      <tr>
        <th colspan="6"><h4>Rooms</h4></th>
        <td>
          <a class="btn btn-info btn-sm" (click)="tableToExcel()">
            <span class="glyphicon glyphicon-export"></span> Export to Excel
          </a>
        </td>
      </tr>
      <tr class="thead-light">
        <th app-sortable-column="roomName">Room Name <!--<a href="#">
        <span class="glyphicon glyphicon-sort-by-alphabet"></span>
      </a>-->
        </th>
        <th app-sortable-column="roomDescription">Description <!--<a href="#">
        <span class="glyphicon glyphicon-sort-by-alphabet"></span>
      </a>--></th>
        <th app-sortable-column="roomHospitalName">Hospital Name</th>
        <th app-sortable-column="roomProtocolName">Room Protocol Name</th>
        <th app-sortable-column="createdOn">Created On</th>
        <th app-sortable-column="status">Status</th>
        <th>Edit Room</th>
      </tr>

      </thead>

      <tbody class=" well">

      <tr>
        <td><input class="input-sm" type="text" placeholder="Enter room name" ngModel required name="newRoomName"
                   #newRoomName="ngModel" ></td>
        <td><input class="input-sm" type="text" placeholder="Enter room description" ngModel required
                   name="newRoomDescription" #newRoomDescription="ngModel"></td>
        <td><input class="input-sm" type="text" placeholder="Enter hospital name" ngModel required
                   name="newHospitalName" #newHospitalName="ngModel"></td>
        <td><input class="input-sm" type="text" placeholder="Enter room protocol name" ngModel required
                   name="newRoomProtocolName" #newRoomProtocolName="ngModel"></td>
        <td><input class="input-sm" type="date" placeholder="Enter created date" ngModel required name="newCreatedDate"
                   #newCreatedDate="ngModel"></td>
        <td><input class="input-sm" type="checkbox" placeholder="Enter status" ngModel required name="newStatus"
                   #newStatus="ngModel"></td>
        <td>
          <button class="btn btn-success btn-sm" type="submit" [disabled]="!roomsData.valid">
            <span class="glyphicon glyphicon-plus"></span> Add New Room
          </button>
          <button class="btn btn-danger btn-sm" type="button" (click)="onClear()">
            <span class="glyphicon glyphicon-remove"></span> Clear
          </button>
        </td>

      </tr>

      <tr *ngFor="let room of rooms | sortRooms: '-createdOn'| filterRooms: newRoomName.value: 'name'; let roomIndex = index">
        <td>
          <span *ngIf="room.id!==editRowId">{{room.name}}</span>
          <input *ngIf="room.id===editRowId" type="text" name="editedRoomName" class=" input-sm form-control" [(ngModel)]="room.name"
                 placeholder="Room Name" required #editedRoomName="ngModel"/>
        </td>
        <td>
          <span *ngIf=" room.id!==editRowId"> {{room.description}} </span>
          <input *ngIf=" room.id===editRowId" type="text" name="editedRoomDescription" class=" input-sm form-control"
                 [(ngModel)]="room.description" placeholder="Room Description" required
                 #editedRoomDescription="ngModel"/>
        </td>
        <td>
          <span *ngIf=" room.id!==editRowId">{{room.hospitalName}}</span>
          <input *ngIf=" room.id===editRowId" type="text" name="editedHospitalName" class="input-sm form-control"
                 [(ngModel)]="room.hospitalName"  required readonly />

        </td>
        <td>
          <span *ngIf=" room.id!==editRowId">{{room.roomProtocolName}}</span>
          <input *ngIf=" room.id===editRowId" type="text" name="editedRoomProtocolName" class="input-sm form-control"
                 [(ngModel)]="room.roomProtocolName" placeholder="Room Protocol Name" required
                 #editedRoomProtocol="ngModel"/>
        </td>
        <td>
          <span *ngIf=" room.id!==editRowId">{{room.createdOn}}</span>
          <input *ngIf=" room.id===editRowId" type="text" name="editedCreatedOn" class="input-sm form-control"
                 [(ngModel)]="room.createdOn" required readonly />
        </td>
        <td>
          <span *ngIf=" room.id!==editRowId">{{room.status}}</span>
          <input *ngIf=" room.id===editRowId" type="checkbox" name="editedStatus" class="input-sm form-control"
                 [(ngModel)]="room.status" placeholder="Status" required #editedStatus="ngModel"/>
        </td>
        <td>
          <a>
            <span *ngIf="room.id!==editRowId" class="glyphicon glyphicon-edit" (click)="editRoom(room.id)"></span>
            <span *ngIf="room.id===editRowId" class="glyphicon glyphicon-floppy-save green"
                  (click)="saveRoom(room)"></span>
          </a> &nbsp;
          <a>
            <span *ngIf="room.id!==editRowId" class="glyphicon glyphicon-trash red"
                  (click)="deleteRoom(roomIndex)"></span>
            <span *ngIf="room.id===editRowId" class="glyphicon glyphicon-floppy-remove red"
                  (click)="cancelSavedRoom(roomIndex)"></span>
          </a>
        </td>

      </tr>

      </tbody>

      <tfoot>
      <tr class="tfoot-light">
        <td colspan="6">Page 1 of 5</td>
        <td colspan="1">
          <nav>
            <ul class="pagination pagination-sm k-justify-content-end">
              <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1">Previous</a>
              </li>
              <li class="page-item"><a class="page-link" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item">
                <a class="page-link" href="#">Next</a>
              </li>
            </ul>
          </nav>
        </td>

        <!-- Pagination template
        <td colspan="5">
           <ul class="pager">
             <li><a class="previous">First</a></li>
             <li>
               <a href="#">
                 <span class="glyphicon glyphicon-chevron-left"></span>
               </a></li>
             <li>
               <ul class="pagination pagination-sm">
                 <li><a href="#">1</a></li>
                 <li><a href="#">2</a></li>
                 <li><a href="#">3</a></li>
                 <li><a href="#">4</a></li>
                 <li><a href="#">5</a></li>

               </ul>
             </li>
             <li>
               <a href="#">
                 <span class="glyphicon glyphicon-chevron-right"></span>
               </a></li>
             <li><a class="next">Last</a></li>
           </ul>

         </td>
         <td colspan="2">
           <div class="dropdown" appDropdown>
             <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">10
               <span class="caret"></span></button>
             <span>items per page</span>
             <ul class="dropdown-menu">
               <li><a href="#">20</a></li>
               <li><a href="#">30</a></li>
               <li><a href="#">50</a></li>
             </ul>
           </div>
         </td>-->
      </tr>
      </tfoot>
    </table>
  </form>

</div>
