.thead-light
{
  background-color: #FEB47B;
}

.tfoot-light
{
  background-color: #FFDFC7;
}

.red
{
  color: indianred;
}

.green
{
  color: seagreen;
}

.pagination {
  margin: 0px;
}
.form-control.ng-touched.ng-invalid {
  border: 2px solid indianred;
}
