<div class="administration-menu ">
  <p class=".subheading"><strong>Administration</strong></p>
  <div class="search-container well">
    <div class="input-group">
      <input id="search_org" type="text" class="form-control" name="search_org" placeholder="Search..">
      <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
    </div>

    <nav>
      <ul>
        <li>User Management</li>
        <li>Fault Management</li>
        <li>Organization Management</li>
        <li>Other</li>
      </ul>
    </nav>
  </div>
</div>
