<div class="hospital-menu">
  <p class=".subheading"><strong>Hospital Management</strong></p>

  <div class="row well">
    <div class="col-xs-4">
      <ul> <p class="rightpane_subheading"><strong> User Management </strong></p>
        <li>User Management</li>
        <li>Fault Management</li>
        <li>Organization Management</li>
        <li>Other</li>
      </ul>
    </div>
    <div class="col-xs-4">
      <app-room-management></app-room-management>
    </div>
    <div class="col-xs-4">
      <ul> <p class="rightpane_subheading"><strong>Devices</strong></p>
        <li>User Management</li>
        <li>Fault Management</li>
        <li>Organization Management</li>
        <li>Other</li>
      </ul>
    </div>
  </div>

</div>

