<div class="organization-menu ">
  <p class=".subheading"><strong>Organizations</strong></p>
  <div class="search-container well">

    <div class="input-group">
      <input id="search_org" type="text" class="form-control" name="search_org" placeholder="Search..">
      <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
    </div>

    <nav>
      <ul class="organizations_subheading">
        <li>Management Company</li>
        <li>Network</li>
        <li>System</li>
        <li>Hospital</li>
      </ul>
    </nav>
  </div>
</div>

